<h1>******** Now your results ********</h1>
<h1> your word:
  <span>
    <strong><%= @word %></strong>
  </span>
</h1>
<br>
<br>
<br>
<br>
<br>
<%= link_to "PLAY AGAIN", "/"  %>
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! %>
